# Simple case of data analysis using Pandas and Elasticsearch

When you work with data, one of the first thing you need is to understand those data, compute some metrics, and build a data report. You can use many tools to acheive this goal, but personally, I really like to use Elasticsearch and Kibana to do some "data discovery".

In this notebook, I intend to follow and explain all the basic steps to load an Elasticsearch index in order to explore text data on Kibana.

## Python requirements

- elasticsearch==6.2.0
- nltk==3.2.5
- pandas==0.21.0

## Loading

Data used in this tutorial comes from movie conversation transcripts (http://www.cs.cornell.edu/~cristian//Cornell_Movie-Dialogs_Corpus.html).

For convenience, the data are linked within the same github repository, reformated as more standard csv files (with protected strings and semi-colons as separators).

For our example, we are getting the following information:
- Movie information (title, year, rating) from the *movie_titles_metadata* file
- Transcripts (line identifier, character name, sentence) from the *movie_lines* file
- Conversation information (list of the line identifiers of the conversation) from the *movie_conversations* file

As a first step, we need to rebuild this dataset as one pandas DataFrame where each line will be a sentence (with its associated information).

In [8]:
import pandas as pd

In [9]:
df_lines = pd.read_csv('./movie_transcripts/movie_lines.csv', delimiter=',', escapechar='\\')
df_movies = pd.read_csv('./movie_transcripts/movie_titles_metadata.csv', delimiter=',', escapechar='\\')
df_conversations = pd.read_csv('./movie_transcripts/movie_conversations.csv', delimiter=',', escapechar='\\')

df_conversations.drop(columns=['character1_id', 'character2_id'], inplace=True)
df_movies.drop(columns=['votesnb'], inplace=True)
df_lines.drop(columns=['character_id', 'movie_id'], inplace=True)

from ast import literal_eval
df_conversations['lines'] = df_conversations['lines'].apply(literal_eval)
df_movies['genres'] = df_movies['genres'].str.replace("'", '"')
df_movies['genres'] = df_movies['genres'].apply(literal_eval)

In [10]:
df_conversations

      movie_id                                              lines
0           m0                           [L194, L195, L196, L197]
1           m0                                       [L198, L199]
2           m0                           [L200, L201, L202, L203]
3           m0                                 [L204, L205, L206]
4           m0                                       [L207, L208]
5           m0                     [L271, L272, L273, L274, L275]
6           m0                                       [L276, L277]
7           m0                                       [L280, L281]
8           m0                                       [L363, L364]
9           m0                                       [L365, L366]
10          m0                                       [L367, L368]
11          m0                                 [L401, L402, L403]
12          m0                           [L404, L405, L406, L407]
13          m0                                       [L575, L576]
14          m0                                       [L577, L578]
15          m0                                       [L662, L663]
16          m0                                 [L693, L694, L695]
17          m0                           [L696, L697, L698, L699]
18          m0                                       [L860, L861]
19          m0                           [L862, L863, L864, L865]
20          m0                           [L866, L867, L868, L869]
21          m0                                 [L870, L871, L872]
22          m0                                       [L924, L925]
23          m0                                       [L984, L985]
24          m0                                     [L1044, L1045]
25          m0                                    [L49, L50, L51]
26          m0                                 [L571, L572, L573]
27          m0                                       [L579, L580]
28          m0                                 [L595, L596, L597]
29          m0                                 [L598, L599, L600]
...        ...                                                ...
83067     m615                                 [L666158, L666159]
83068     m615                                 [L666160, L666161]
83069     m615                                 [L666166, L666167]
83070     m615                                 [L666168, L666169]
83071     m615      [L665987, L665988, L665989, L665990, L665991]
83072     m615                                 [L665992, L665993]
83073     m615               [L665994, L665995, L665996, L665997]
83074     m616               [L666361, L666362, L666363, L666364]
83075     m616               [L666365, L666366, L666367, L666368]
83076     m616                                 [L666462, L666463]
83077     m616  [L666388, L666389, L666390, L666391, L666392, ...
83078     m616                        [L666503, L666504, L666505]
83079     m616                        [L666246, L666247, L666248]
83080     m616                                 [L666249, L666250]
83081     m616                                 [L666357, L666358]
83082     m616                        [L666480, L666481, L666482]
83083     m616                                 [L666483, L666484]
83084     m616                                 [L666487, L666488]
83085     m616                                 [L666251, L666252]
83086     m616                        [L666383, L666384, L666385]
83087     m616                                 [L666460, L666461]
83088     m616                                 [L666485, L666486]
83089     m616                                 [L666546, L666547]
83090     m616  [L666497, L666498, L666499, L666500, L666501, ...
83091     m616                        [L666262, L666263, L666264]
83092     m616               [L666324, L666325, L666326, L666327]
83093     m616                                 [L666575, L666576]
83094     m616                                 [L666256, L666257]
83095     m616               [L666369, L666370, L666371, L666372]
83096     m616                        [L666520, L666521, L666522]

[83097 rows x 2 columns]

## Merging

Row data are loaded but are not quite in a format that allows us to process them.

The conversations are linked to a list of lines. As we want to reproduce a matrix with one line per sentence, and potentially to keep a conversation identifier, we need to "split" the conversations dataframe.

In [11]:
df_conversations_lines = pd.DataFrame(df_conversations.lines.apply(pd.Series).stack().reset_index())
df_conversations_lines.columns = ['index', 'line_order', 'line_id']
df_conversations.reset_index(inplace=True)
df_conversations_lines

        index  line_order  line_id
0           0           0     L194
1           0           1     L195
2           0           2     L196
3           0           3     L197
4           1           0     L198
5           1           1     L199
6           2           0     L200
7           2           1     L201
8           2           2     L202
9           2           3     L203
10          3           0     L204
11          3           1     L205
12          3           2     L206
13          4           0     L207
14          4           1     L208
15          5           0     L271
16          5           1     L272
17          5           2     L273
18          5           3     L274
19          5           4     L275
20          6           0     L276
21          6           1     L277
22          7           0     L280
23          7           1     L281
24          8           0     L363
25          8           1     L364
26          9           0     L365
27          9           1     L366
28         10           0     L367
29         10           1     L368
...       ...         ...      ...
304683  83087           0  L666460
304684  83087           1  L666461
304685  83088           0  L666485
304686  83088           1  L666486
304687  83089           0  L666546
304688  83089           1  L666547
304689  83090           0  L666497
304690  83090           1  L666498
304691  83090           2  L666499
304692  83090           3  L666500
304693  83090           4  L666501
304694  83090           5  L666502
304695  83091           0  L666262
304696  83091           1  L666263
304697  83091           2  L666264
304698  83092           0  L666324
304699  83092           1  L666325
304700  83092           2  L666326
304701  83092           3  L666327
304702  83093           0  L666575
304703  83093           1  L666576
304704  83094           0  L666256
304705  83094           1  L666257
304706  83095           0  L666369
304707  83095           1  L666370
304708  83095           2  L666371
304709  83095           3  L666372
304710  83096           0  L666520
304711  83096           1  L666521
304712  83096           2  L666522

[304713 rows x 3 columns]

We now want to merge all our dataframe to get the information on:
- the movie
- the line transcripts

As here I am not interested in the conversation order in a movie, I won't keep it.

In [12]:
df = pd.merge(df_conversations, df_conversations_lines, how='left', on='index')
df.drop(columns=['index', 'lines'], inplace=True)
df = pd.merge(df, df_movies, how='left', on='movie_id')
df = pd.merge(df, df_lines, how='left', on='line_id')
df.drop(columns=['movie_id', 'line_id'], inplace=True)
df

,line_order,movie_title,year,rating,genres,character_name,text
0,0,10 things i hate about you,1999,6.9,"[comedy, romance]",BIANCA,Can we make this quick? Roxanne Korrine and A...
1,1,10 things i hate about you,1999,6.9,"[comedy, romance]",CAMERON,"Well, I thought we'd start with pronunciation,..."
2,2,10 things i hate about you,1999,6.9,"[comedy, romance]",BIANCA,Not the hacking and gagging and spitting part....
3,3,10 things i hate about you,1999,6.9,"[comedy, romance]",CAMERON,Okay... then how 'bout we try out some French ...
4,0,10 things i hate about you,1999,6.9,"[comedy, romance]",BIANCA,You're asking me out. That's so cute. What's ...
5,1,10 things i hate about you,1999,6.9,"[comedy, romance]",CAMERON,Forget it.
6,0,10 things i hate about you,1999,6.9,"[comedy, romance]",BIANCA,"No, no, it's my fault -- we didn't have a prop..."
7,1,10 things i hate about you,1999,6.9,"[comedy, romance]",CAMERON,Cameron.
8,2,10 things i hate about you,1999,6.9,"[comedy, romance]",BIANCA,"The thing is, Cameron -- I'm at the mercy of a..."
9,3,10 things i hate about you,1999,6.9,"[comedy, romance]",CAMERON,Seems like she could get a date easy enough...
10,0,10 things i hate about you,1999,6.9,"[comedy, romance]",CAMERON,Why?
11,1,10 things i hate about you,1999,6.9,"[comedy, romance]",BIANCA,Unsolved mystery. She used to be really popul...
12,2,10 things i hate about you,1999,6.9,"[comedy, romance]",CAMERON,That's a shame.
13,0,10 things i hate about you,1999,6.9,"[comedy, romance]",BIANCA,"Gosh, if only we could find Kat a boyfriend..."
14,1,10 things i hate about you,1999,6.9,"[comedy, romance]",CAMERON,Let me see what I can do.
15,0,10 things i hate about you,1999,6.9,"[comedy, romance]",BIANCA,C'esc ma tete. This is my head
16,1,10 things i hate about you,1999,6.9,"[comedy, romance]",CAMERON,Right. See? You're ready for the quiz.
17,2,10 things i hate about you,1999,6.9,"[comedy, romance]",BIANCA,I don't want to know how to say that though. ...
18,3,10 things i hate about you,1999,6.9,"[comedy, romance]",CAMERON,That's because it's such a nice one.
19,4,10 things i hate about you,1999,6.9,"[comedy, romance]",BIANCA,Forget French.
20,0,10 things i hate about you,1999,6.9,"[comedy, romance]",BIANCA,How is our little Find the Wench A Date plan p...
21,1,10 things i hate about you,1999,6.9,"[comedy, romance]",CAMERON,"Well, there's someone I think might be --"
22,0,10 things i hate about you,1999,6.9,"[comedy, romance]",CAMERON,There.
23,1,10 things i hate about you,1999,6.9,"[comedy, romance]",BIANCA,Where?
24,0,10 things i hate about you,1999,6.9,"[comedy, romance]",CAMERON,You got something on your mind?
25,1,10 things i hate about you,1999,6.9,"[comedy, romance]",BIANCA,I counted on you to help my cause. You and tha...
26,0,10 things i hate about you,1999,6.9,"[comedy, romance]",CAMERON,You have my word. As a gentleman
27,1,10 things i hate about you,1999,6.9,"[comedy, romance]",BIANCA,You're sweet.
28,0,10 things i hate about you,1999,6.9,"[comedy, romance]",CAMERON,How do you get your hair to look like that?
29,1,10 things i hate about you,1999,6.9,"[comedy, romance]",BIANCA,Eber's Deep Conditioner every two days. And I ...
...,...,...,...,...,...,...,...
304683,0,zulu dawn,1979,6.4,"[action, adventure, drama, history, war]",CREALOCK,The only reports of enemy activity have come f...
304684,1,zulu dawn,1979,6.4,"[action, adventure, drama, history, war]",CHELMSFORD,Thank you.
304685,0,zulu dawn,1979,6.4,"[action, adventure, drama, history, war]",CHELMSFORD,Yes?
304686,1,zulu dawn,1979,6.4,"[action, adventure, drama, history, war]",CREALOCK,A large party of Zulus have been sighted in th...
304687,0,zulu dawn,1979,6.4,"[action, adventure, drama, history, war]",CHELMSFORD,"Splendid site, Crealock, splendil I want to es..."
304688,1,zulu dawn,1979,6.4,"[action, adventure, drama, history, war]",CREALOCK,"Certainly, Sin"
304689,0,zulu dawn,1979,6.4,"[action, adventure, drama, history, war]",COGHILL,Stuart?
304690,1,zulu dawn,1979,6.4,"[action, adventure, drama, history, war]",STUART SMITH,Yes.
304691,2,zulu dawn,1979,6.4,"[action, adventure, drama, history, war]",COGHILL,How quickly can you move your artillery forward?
304692,3,zulu dawn,1979,6.4,"[action, adventure, drama, history, war]",STUART SMITH,"Well, my horses are feeding, as you may observ..."
304693,4,zulu dawn,1979,6.4,"[action, adventure, drama, history, war]",COGHILL,"Well, fed or hungry, Pulleine wants them in po..."
304694,5,zulu dawn,1979,6.4,"[action, adventure, drama, history, war]",STUART SMITH,"Right. Bombardier, to me please."
304695,0,zulu dawn,1979,6.4,"[action, adventure, drama, history, war]",MELVILL,Lighting COGHILL' 5 cigar: Our good Colonel Du...
304696,1,zulu dawn,1979,6.4,"[action, adventure, drama, history, war]",COGHILL,Um. There are rumours that my Lord Chelmsford ...
304697,2,zulu dawn,1979,6.4,"[action, adventure, drama, history, war]",MELVILL,Well that's typical of Her Majesty's army. App...
304698,0,zulu dawn,1979,6.4,"[action, adventure, drama, history, war]",COGHILL,Do you think she might be interested in someone?
304699,1,zulu dawn,1979,6.4,"[action, adventure, drama, history, war]",MELVILL,Which one?
304700,2,zulu dawn,1979,6.4,"[action, adventure, drama, history, war]",COGHILL,Well that one. The one who keeps looking at me.
304701,3,zulu dawn,1979,6.4,"[action, adventure, drama, history, war]",MELVILL,ft could be you flatter yourself CoghilL It's ...
304702,0,zulu dawn,1979,6.4,"[action, adventure, drama, history, war]",COGHILL,Choose your targets men. That's right Watch th...
304703,1,zulu dawn,1979,6.4,"[action, adventure, drama, history, war]",MELVILL,Keep steady. You're the best shots of the Twen...
304704,0,zulu dawn,1979,6.4,"[action, adventure, drama, history, war]",VEREKER,Colonel Durnford... William Vereker. I hear yo...
304705,1,zulu dawn,1979,6.4,"[action, adventure, drama, history, war]",DURNFORD,"Good ones, yes, Mr Vereker. Gentlemen who can ..."
304706,0,zulu dawn,1979,6.4,"[action, adventure, drama, history, war]",DURNFORD,"Your orders, Mr Vereker?"
304707,1,zulu dawn,1979,6.4,"[action, adventure, drama, history, war]",VEREKER,I'm to take the Sikali with the main column to...
304708,2,zulu dawn,1979,6.4,"[action, adventure, drama, history, war]",DURNFORD,Lord Chelmsford seems to want me to stay back ...
304709,3,zulu dawn,1979,6.4,"[action, adventure, drama, history, war]",VEREKER,I think Chelmsford wants a good man on the bor...
304710,0,zulu dawn,1979,6.4,"[action, adventure, drama, history, war]",VEREKER,"Well I assure you, Sir, I have no desire to cr..."
304711,1,zulu dawn,1979,6.4,"[action, adventure, drama, history, war]",DURNFORD,"And I assure you, you do not In fact I'd be ob..."
304712,2,zulu dawn,1979,6.4,"[action, adventure, drama, history, war]",VEREKER,So far only their scouts. But we have had repo...

In [13]:
df.shape

(304713, 7)

We now have a complete dataframe with 304.714 sentences and all the information we need about the movies.

## Cleaning

Even from a public source, data are not quite clean. Here pandas considers the columns *year* as string instead of an integer, *text* has unprotected double quotes, and sometime *text* or *character_name* is null.

We will get rid of those issues

In [14]:
df['year'] = df['year'].str.replace(r'/I', '').astype('int32')
df['text'] = df['text'].str.replace('"', '')
df.drop(df[df['text'].isnull()].index, inplace=True)
df.drop(df[df['character_name'].isnull()].index, inplace=True)
df.shape

(304248, 7)

Now that we removed a few lines on our dataframe, we want to add new information.

As we are looking at text data, we might want to count the meaningfull words we have to understand the main topics of our movies dataset.

## Upload

We are going to remove all words in a list of english stopwords so that our analysis in Kibana does not contains them.

In [8]:
stopwords = [line.rstrip('\n') for line in open('./en_stopwords.txt')]

And to limit the size of our vocabulary, we will use a lemmatizer from nltk library.

In [9]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /Users/ema/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [11]:
import re
from nltk.stem import WordNetLemmatizer

from elasticsearch import Elasticsearch
from elasticsearch import helpers

es = Elasticsearch(timeout=60)
wnl = WordNetLemmatizer()

if es.indices.exists("data_tutorial"):
    es.indices.delete(index="data_tutorial")

settings = {
    "mappings": {
        "doc": {
            "properties": {
                "text": {
                    "type": "text"
                },
                "words": {
                    "type": "keyword"
                },
                "character": {
                    "type": "keyword"
                },
                "year": {
                    "type": "long"
                },
                "movie": {
                    "type": "keyword"
                },
                "genres": {
                    "type": "keyword"
                },
                "rating": {
                    "type": "double"
                }
            }
        }
    }
}
# create index
es.indices.create(index="data_tutorial", ignore=400, body=settings)


s = ""
actions = []
for i, row in df.iterrows():
    words = re.findall("(\w+)", str(row['text']))
    words = [wnl.lemmatize(w.lower(), 'v') for w in words if w.lower() not in stopwords and len(w) > 1 and not w.isdigit()]
    
    actions.append({
        "_index": "data_tutorial",
        "_type": "doc",
        "_source": {
            "text" : str(row['text']).replace('\n', '\\n'), 
            "words": words, 
            "movie": row['movie_title'], 
            "year": row['year'],
            "rating": row['rating'], 
            "character": row['character_name'],
            "genres": row['genres']
        }})

helpers.bulk(es, actions)

(304248, [])

For information, here I am using Elasticsearch and Kibana 6.3. The doc_type in the mapping will be progressively removed in the next versions, so it might need some adaptation.

## Visulization in Kibana

Tag cloud on lemmas:

![kibana tag cloud](./img/kbn_tag_cloud.png)

Heatmap on movie year vs genres:

![kibana heatmap](./img/kbn_heatmap.png)

Example of dashboard:

![kibana dashboard](./img/kbn_dashboard.png)